body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 250, 224);
    overflow: hidden;
}

header {
    background-color: #333;
    height: 200px;
    padding: 0px 20px;
    margin: 0px;
    display: flex;
    text-align: center;
    align-items: center;
}

#logo{
    height: 130px;
    position: fixed;
}

h1{
    padding: 0px;
    margin: 0px;
    width: 100%;
    color: white;
    font-size: 50px;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

#home{
    background-color: #222;
}

#altriSiti{
    background-color: #222;
}

#servizi{
    background-color: #222;
}

/* Per evitare il collasso dei float */
nav::after {
    content: "";
    clear: both;
    display: table;
}

#box-testo{
    padding: 20px;
    margin: 0px;
}

h2{
    margin: 0px;
    position: relative;
    width: max-content;
}

h2::after{
    content: "";
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(246, 250, 224));
    height: 2.7px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

h3{
    padding-top: 30px;
    position: relative;
    width: max-content;
}

h3::after{
    content: "";
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(246, 250, 224));
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

ol{
    padding-left: 17px;
}

ul{
    padding-left: 17px;
}

#link{
    margin-bottom: 5px;
}


/* schermi piccoli */
@media screen and (max-width: 710px){
    h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 620px){
    header {
        background-color: #333;
        height: 200px;
        padding: 0px 20px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1{
        display: none;
    }
}