body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 250, 224);
    overflow-x: hidden;
}

header {
    background-color: #333;
    height: 200px;
    padding: 0px 20px;
    margin: 0px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1;
    place-items: center;
    text-align: center;
}

#logo{
    height: 130px;
}

h1{
    padding: 0px;
    margin: 0px;
    width: 100%;
    color: white;
    font-size: 50px;
}

nav {
    background-color: #444;
    overflow: hidden;
    width: 100%;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
}

/* nav ul li {

} */

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

#home, #altriSiti, #servizi, #prodotti{
    background-color: #222;
}


/* Per evitare il collasso dei float */
nav::after {
    content: "";
    clear: both;
    display: table;
}

.box-testo{
    padding: 20px;
    margin: 0px;
}

h2{
    margin: 0px;
    position: relative;
    width: max-content;
}

h2::after{
    content: "";
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(246, 250, 224));
    height: 2.7px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

h3{
    padding-top: 10px;
    position: relative;
    width: max-content;
}

h3::after{
    content: "";
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(246, 250, 224));
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

ol{
    padding-left: 17px;
}

ul{
    padding-left: 17px;
}

#link{
    margin-bottom: 5px;
}

.box-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 20px;

    .card{
        border-radius: 10px;
        height: 300px;
        width: 400px;
        background-color: rgb(219, 219, 219);
        padding: 10px;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.444);
        
        .nome-prodotto{
            text-align: center;
            font: bolder;
            margin: 0 0 10px 0;
            font-weight: bolder;
        }

        .box-img{
            height: 45%;
            display: flex;
            justify-content: space-evenly;
            
            .img-card{
                height: 100%;
            }
        }
    }

    .box-info{
        display: flex;
        height: 40%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;

        .prezzo{
            font-size: xx-large;
            padding: 5px;
            box-shadow: 0 0 10px 1px rgb(246, 250, 224);
            border-radius: 10px;
            background-color: rgb(246, 250, 224);
        }

        .ritiro{
            color: rgba(0, 0, 0, 0.67);
            margin-top: 0;
        }
    }
}


/* schermi piccoli */
@media screen and (max-width: 725px){
    h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 620px){
    header {
        background-color: #333;
        height: 200px;
        padding: 0px 20px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1{
        display: none;
    }
}